:root {
    /* ### Primary */

    --Very_Dark_Magenta: #502050;
    --Soft_Pink: #ed69a4;

    /* ### Neutral */

    --Dark_Grayish_Magenta: #937b92;
    --Light_Grayish_Magenta: #f7f2f7;
}

/*
    1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1;
}

/* general styling */

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: 'League Spartan', sans-serif;
    Font-size: 15px;
    background-color: #fff;
}

main {
    width: 80%;
    margin: 0 auto;
}

header {
    padding-top: 115px;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-between;

}


header .text h1 {
    color: var(--Very_Dark_Magenta);
    font-family: 'League Spartan';
    font-size: 3em;
    font-weight: 700;
}

header .text p {
    color: #8c808c;
    font-family: 'League Spartan';
    font-size: 1.2em;
    margin-top: 30px;
    font-weight: 500;
    line-height: 1.2;
}

header .Rate .rateing {
    position: relative;
    padding: 20px 30px;
    /* min-width: 500px;
    min-height: 55px; */
    margin-top: 15px;
    border-radius: 10px;
    background-color: #f8f1f8;
    display: flex;
    /* padding: 0 32px; */
    align-items: center;
}

header .Rate .rateing .stars {
    gap: 10px;
    display: flex;
    margin-right: 15px;
}

header .Rate .rateing spam {
    margin-left: 15px;
    color: var(--Very_Dark_Magenta);
    font-size: 1.5em;
    font-weight: 500;
}

header .Rate .rateing:nth-child(1) {
    right: 100px;
}

header .Rate .rateing:nth-child(2) {
    right: 50px;
}


@media (max-width:1240px) {
    header {
        flex-direction: column;
    }

    header .text {
        text-align: center;
    }

    header .Rate {
        margin-top: 50px;
    }

    header .Rate .rateing:nth-child(1),
    header .Rate .rateing:nth-child(2) {
        right: 0;
    }

    header .Rate .rateing {
        /* height: 90px; */
        flex-direction: column;
        justify-content: center;
    }

    header .Rate .rateing .stars {
        margin-bottom: 15px;
    }
}

@media (max-width:435px) {
    header .Rate .rateing spam {
        margin: 0px;
        font-size: 1.3rem;
        text-align: center;
    }

    header .text h1 {
        font-size: 2.5em;
    }

    header .text p {
        font-size: 1.1em;
    }
}


/* ********************************************** */

ul.reviews {
    list-style-type: none;
    display: grid;
    gap: 30px;
    margin-top: 75px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

ul li {
    background-color: var(--Very_Dark_Magenta);
    padding: 40px 30px;
    border-radius: 15px;
    position: relative;
}

ul li:nth-child(2) {
    top: 15px;
}

ul li:nth-child(3) {
    top: 30px;
}

ul.reviews li .head {

    display: flex;
    align-items: center;
}

ul.reviews li .head img {
    border-radius: 50%;
    width: 60px;
}

ul.reviews li .head .names {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
    margin-left: 20px;
}


ul.reviews li .head .names span:nth-child(2) {
    color: var(--Soft_Pink);
}

ul.reviews li>p {
    color: white;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 30px;
    letter-spacing: 1.2px;
}

@media (max-width:1199px) {
    ul li:nth-child(2)
    ,ul li:nth-child(3) {
        top: 0;
    }
}